<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WHOS LEO?</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">


    <link href="/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">


    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">LETS START AGAIN</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">WHO AM I </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services"> WHAT I CAN DO </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"> WHAT I HAVE DONE </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact"> SAY HI TO ME </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>WELCOME TO MY PERSONAL PORTFOLIO</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" style="cursor:default;">My name is YITAO BAI (LEO). A computer science student graduated from SFU Vancouver. Mainly focus on software development. Web and Mobile Apps are my primary interests. </p>
            <hr>
            <p class="text-faded">I AM . . .</p>
            <div style="text-align:-webkit-auto">
              <table>
                
                <ul class="text-faded">
                
                  <li>ENJOY CODING</li>
                  <li>WORKING HARD STUDYING</li>
                  <li>SELF LEARNER</li>
                  <li>PROBLEM SOLVING</li>
                  <li>BOTH GROUP OR INDIVIDUAL CODER</li>
                  <li>...</li>
                  <li>HAPPY CODING!</li>
                </ul>
              </table>
            </div>

            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" style="clear:both;">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Something you may like</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">As a computer science student, I am able to ...</p>
            <div style="text-align:-webkit-auto">
              <table>
                
                <ul class="text-faded">
                
                  <li>Develop web apps. I am able to work on both Frontend or Backend. For Frontend development, I use HTML, CSS, Javascript, jQuery, angularJS and some other JS libraries. For Backend, I use express NodeJS Framwork. Both of this portfolio site and my project are using express-nodeJS. </li>
                  <br>
                  <li>Do some basic design. Adobe Illustrator is the tool I use to draw graph. Eventhough I didn't attend any professional design classes, but design is my personal interest. I always pay attention to some successful logo or UI designs. That did give me a lot art insparation.</li>
                  <br>
                  <li>Switch between both Windows and Linux systems. Used to add a customized system call which can track information about current running process to Linux Kernal in Virtual Machine as a university course project.</li>
                  <br>
                  <li>Working on my own to learn mobile app development, using react-native. </li>
                  <br>
                  <li>Have knowledge on both SQL database and MongoDB nonSQL database. Familiar with writing queries to track SQL database information. Such as 'SELECT' (NAME) 'FROM' (LOCATION) 'WHERE' (CONDITION). My project is using mongoDB to store user data.</li>
                  <br>
                  <li>Have knowledge on UI design. I understand how difficult to get the real need from clients. Therefore, something like 'user test', 'protocol' and 'event test' are necessary. </li>
                  
                </ul>
              </table>
              <!-- <div class="vendor-icons github">
                <img alt="Github logo" src="dist/32x32/github.png" width="32" height="32">
              </div> -->
              
            </div>

            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">MORE SPECIFICALLY ...</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">TECHNICS THAT I USE</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!-- <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i> -->
              <a href="https://en.wikipedia.org/wiki/HTML5" target="_BLANK"><img alt="HTML5 logo" src="dist/128x128/html5.png"></a>
              <h3 class="mb-3">HTML5</h3>
              <p class="text-muted mb-0">Both of this resume page and project are using HTML5. But I also use Jade as a second choice.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              
              <a href="https://nodejs.org/en/" target="_BLANK"><img alt="NodeJS logo" src="dist/128x128/nodejs.png"></a>
              <h3 class="mb-3">Node</h3>
              <p class="text-muted mb-0">The Backend framwork I use on both of this resume and my project. Express+Node combined with ejs to use HTML page.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              
              <a href="https://www.w3schools.com/css/" target='_BLANK'><img alt="NodeJS logo" src="dist/128x128/css3.png"></a>
              <h3 class="mb-3">CSS3</h3>
              <p class="text-muted mb-0">All projects are rendered by CSS3.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a href="https://www.python.org/" target='_BLANK'><img alt="NodeJS logo" src="dist/128x128/python.png"></a>
              <h3 class="mb-3">Python</h3>
              <p class="text-muted mb-0">Used to code using python in university. Wrote a simple AI program: it 'remembers' some statements such as A is true, if A is true then B is true. If I enter B, then it tells me true.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a href="https://www.npmjs.com/" target='_BLANK'><img alt="npm logo" src="dist/128x128/npm.png"></a>
              
              <h3 class="mb-3">NPM</h3>
              <p class="text-muted mb-0">Node package manager, most libraries are stored by using npm install ***.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a href="https://docs.mongodb.com/" target='_BLANK'>
                <img alt="mongoDB logo" src="dist/128x128/mongodb.png">
              </a>
              <h3 class="mb-3">MongoDB</h3>
              <p class="text-muted mb-0">A nonSQL documentation style database. I use it in my project to store user data.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a href="https://jquery.com/" target='_BLANK'>
                <img alt="jquery logo" src="dist/128x128/jquery.png">
              </a>
              
              <h3 class="mb-3">jQuery</h3>
              <p class="text-muted mb-0">Using jQuery to connect HTML element with JavaScript. Using ajax to connect to api, using GET, POST, DELETE, PULL to manage my data.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <a href="https://www.adobe.com/products/illustrator.html" target='_BLANK'>
                  <img alt="AI logo" src="dist/128x128/ai.png" style="width:128px;">
                </a>
                <h3 class="mb-3">Adobe Illustrator</h3>
                <p class="text-muted mb-0">Use AI to draw graph, logo etc.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">

                <img alt="AI logo" src="dist/128x128/more.png" style="width:128px;">

                <h3 class="mb-3"><b>MORE ON COMMING...</b></h3>
                <p class="text-muted mb-0">Such as Angularjs, React, React-native ... NEVER STOP LEARNING!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Thanks for reviewing my resume!, if you still have questions, you can ...</h2>

        <a class="btn btn-light btn-xl sr-button js-scroll-trigger" href="#page-top">BACK TO THE TOP</a>

        
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading"><b>Or Get In Touch With Me!</b> </h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with me? That's great! Give me a call or send me an email!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>604-518-4628</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:leobai9188@gmail.com">leobai9188@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>

  </body>

</html>
